{% extends 'base.html' %}
{% block content %}
{% if board %}
<table class="table table-bordered text-center">
  <tbody>
    <tr>
      <th scope="col" class="table-secondary">번호</th>
      <td>{{ board.idx }}</td>
      <th scope="col" class="table-secondary">제목</th>
      <td colspan="5">{{ board.title }}</td>
    </tr>
    <tr>
      <th scope="col" class="table-secondary">조회수</th>
      <td>{{ board.view_count }}</td>
    
      <th scope="col" class="table-secondary">작성자</th>
      <td>{{ board.name }}</td>
    
      <th scope="col" class="table-secondary">작성일자</th>
      <td>{{ board.created_at }}</td>
    
      <th scope="col" class="table-secondary">수정일자</th>
      <td>{% if board.updated_at != None %} {{ board.updated_at }} {% else %} {{ "" }} {% endif %}</td>
    </tr>
    <tr>
      <td colspan="8" class="text-left">{{ board.contents }}</td>
    </tr>
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
  <button type="button" class="btn btn-outline-primary btn-sm" 
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
  onclick="location.href='/board/update/{{board.idx}}'">
  수정
  </button>
  <button type="button" class="btn btn-outline-danger btn-sm"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
  onclick="location.href='/board/delete/{{board.idx}}'">
  삭제
  </button>
  <button type="button" class="btn btn-outline-success btn-sm"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
  onclick="location.href='/'">
  목록으로
  </button>
</div>
{% endif %}
{% endblock %}