{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{% if board %}
  <table class="table table-bordered text-center">
    <thead>
    </thead>
    <tbody>
        <tr>
            <th scope="col">번호</th>
            <td>{{ board.idx }}</td>
        </tr>
        <tr>
          <th scope="col">조회수</th>
          <td>{{ board.view_count }}</td>
        </tr>
        <tr>
          <th scope="col">작성자</th>
          <td>{{ board.name }}</td>
        </tr>
        <tr>
          <th scope="col">작성일자</th>
          <td>{{ board.created_at }}</td>
        </tr>
        <tr>
          <th scope="col">수정일자</th>
          <td>{% if board.updated_at != None %} {{ board.updated_at }} {% else %} {{ "" }} {% endif %}</td>
        </tr>
        <tr>
            <th scope="col">제목</th>
            <td>{{ board.title }}</td>
        </tr>
        <tr>
            <th scope="col">내용</th>
            <td>{{ board.contents }}</td>
        </tr>
    </tbody>
  </table>
{% endif %}
<button type="button" onclick="location.href='/board/update/{{board.idx}}'">수정</button>
<button type="button" onclick="location.href='/board/delete/{{board.idx}}'">삭제</button>
<button type="button" onclick="location.href='/'">목록으로</button>

{% comment %} <div class="container mt-4">
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form boardForm %}
    <button type="submit" class="btn btn-primary rounded-pill col-12">POST</button>
  </form>
</div> {% endcomment %}
{% endblock %}