{% extends 'base.html' %}
{% block content %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
  <button type="button" class="btn btn-outline-primary btn-sm" 
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
  onclick="location.href='/login'">
  로그인
  </button>
  <button type="button" class="btn btn-outline-success btn-sm"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
  onclick="location.href='/register'">
  회원가입
  </button>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3 mb-3">
  <button type="button" class="btn btn-outline-secondary btn-sm" 
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
  onclick="location.href='/board/list/hitsd'">
  조회수↑
  </button>
  <button type="button" class="btn btn-outline-secondary btn-sm" 
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
  onclick="location.href='/board/list/hitsa'">
  조회수↓
  </button>
  <button type="button" class="btn btn-outline-secondary btn-sm"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
  onclick="location.href='/board/list/latest'">
  최신순
  </button>
  <button type="button" class="btn btn-outline-secondary btn-sm"
  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" 
  onclick="location.href='/board/list/earliest'">
  오래된순
  </button>
</div>

{% if board %}
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>
    <tbody>
      {% for board_list in board %}
        <tr onClick="location.href='/board/detail/{{board_list.idx}}'">
          <td>{{ board_list.idx }}</td>
          <td>{{ board_list.title }}</td>
          <td>{{ board_list.name }}</td>
          <td>{{ board_list.view_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button type="button" class="btn btn-dark" onclick="location.href='/board/create'">글쓰기</button>
<div>
{% endblock %}