{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<div class="row mt-2">
<div class="col-12">
    <button type="button" class="btn btn-secondary btn-lg btn-block" 
    onclick="location.href='/login'">
    로그인
    </button>
    <button type="button" class="btn btn-secondary btn-lg btn-block" 
    onclick="location.href='/register'">
    회원가입
    </button>
</div>
</div>

{% if board %}
  <table class="table table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">조회수</th>
      </tr>
    </thead>
    <tbody>
      {% for board_list in board %}
        <tr onClick="location.href='/board/detail/{{board_list.idx}}'">
          <td>{{ board_list.idx }}</td>
          <td>{{ board_list.title }}</td>
          <td>{{ board_list.name }}</td>
          <td>{{ board_list.view_count }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
<button type="button" onclick="location.href='/board/create'">글쓰기</button>

{% comment %} <div class="container mt-4">
  <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form boardForm %}
    <button type="submit" class="btn btn-primary rounded-pill col-12">POST</button>
  </form>
</div> {% endcomment %}
{% endblock %}